.video-container {
  position: relative;
  width: 100%;
}

.video {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.v-text {
  position: absolute;
}

.container-body {
  background-image: url("/assets/fondo1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.body-text {
  padding: 20px;
}

.body-t {
  text-align: center;
}

.body-p {
  margin: 0 auto;
  text-align: justify;
  width: 80%;
}
