@font-face {
  font-family: "Mont-bold";
  src: url(../Montserrat/static/Montserrat-ExtraBold.ttf);
}

.title-form {
  font-family: "Mont-bold";
  text-align: center;
  padding-top: 20px;
}

.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-top: 3%;
  box-shadow: 0px 0px 10px 1px gray;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="tel"],
.input-group input[type="text"]:focus,
.input-group input[type="email"]:focus,
.input-group input[type="tel"]:focus {
  flex: 1;
  background-color: gray;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.input-group input::placeholder,
.row textarea::placeholder {
  color: rgb(219, 219, 219);
}

.row textarea {
  height: 100px;
  resize: vertical;
  margin: 0 auto;
  width: 96%;
  background-color: gray;
  color: white;
}

.row button {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 96%;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .contact-form-container {
    max-width: 100%;
  }
}
