.container-nav {
  background: #000;
}

.cont-info {
  display: flex;
  justify-content: space-between;
}

.cont-info ul {
  display: flex;
  padding: 0;
  margin: 10px;
}

ul {
  list-style: none;
}

.icon-img {
  padding: 5px;
}

.icons {
  width: 40px;
}

.icons:hover {
  scale: 1.1;
}
