.container-service {
  text-align: center;
  background-image: url("/assets/fondo1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-bottom: 20px;
}

.title-service {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.title-service h1 {
  margin-top: 20px;
  padding: 0 10px;
  color: #5f656a;
  font-size: 36px;
}

.title-service .img-punto {
  margin-top: 15px;
}

.section-service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.img-service {
  width: 600px;
  height: 400px;
}

.p-service {
  width: 40%;
  padding-left: 100px;
  text-align: start;
}

.p-service li {
  cursor: pointer;
}

.p-service li:hover {
  color: goldenrod;
}

@media (max-width: 768px) {
  .title-service h1,
  .title-service img {
    margin-top: 10px;
    padding: 0 5px;
    font-size: 18px;
  }

  .title-service .img-punto {
    margin-top: 3px;
    width: 40px;
  }

  .section-service {
    flex-direction: column;
  }

  .img-service {
    width: 100%;
    height: auto;
    order: -1;
  }

  .p-service {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
  }
}
