/* btnWhats.css */

.container-pop {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  flex-direction: column;
  align-items: flex-end;
}

.whats-pop {
  display: flex;
  align-items: center;
  background: #25d366;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

.whats-pop:hover {
  transform: scale(1.05);
}

.whats-pop p {
  color: #000000;
  font-weight: 900;
  font-size: 13px;
  margin: 0 10px 0 0;
}

.whats-pop img {
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 769px) {
  .whats-pop p {
    display: none;
  }

  .whats-pop {
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .whats-pop img {
    width: 28px;
    height: 28px;
  }
}
