.brads {
  background: linear-gradient(-40deg, #0988e8, #000f2e);
}

.image-large_2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 87%;
  height: auto;
  margin: 0 auto;
  /* margin-bottom: 15%; */
}

.flex-img_2 {
  position: relative;
  width: 25%;
}

.flex-img_2 img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

.flex-img_2 img:hover {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .flex-img_2 {
    width: 100%;
  }
}
