.page-container {
  text-align: center;
  display: flex;
}

.container-map-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
  padding-top: 10%;
}

.map-img {
  position: relative;
  flex: 1 1 calc(33.333% - 10px); /* Flex para pantallas más grandes */
  box-sizing: border-box;
  max-width: calc(33.333% - 10px); /* Asegura que no exceda el 33% */
}

.map-img img {
  width: 100%;
  height: auto; /* Ajusta la altura automáticamente */
  display: block;
  border-radius: 10px;
}

.overlay-proj {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* Matching border radius */
}

.map-img:hover .overlay-proj {
  opacity: 1;
  cursor: pointer;
}

.overlay-content-proj {
  text-align: center;
  padding: 20px;
}

.overlay-content-proj h1,
.overlay-content-proj p {
  margin: 0;
  text-align: justify;
}

.overlay-proj h1 {
  font-size: 34px;
  text-align: center;
  color: #2db6fa;
}

.overlay-proj p {
  margin-top: 7%;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .map-img {
    flex: 1 1 calc(50% - 10px); /* Flex para pantallas medianas */
    max-width: calc(50% - 10px);
  }

  .overlay-proj h1 {
    font-size: 30px;
  }

  .overlay-proj p {
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .map-img {
    flex: 1 1 100%; /* Flex para pantallas pequeñas */
    max-width: 100%;
  }

  .overlay-proj h1 {
    font-size: 26px;
  }

  .overlay-proj p {
    font-size: 14px;
  }
}
