.map-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; /* Ajusta el espacio entre las imágenes según tus necesidades */
}

.map-img img {
  width: 100%;
  height: auto;
}
